<main>
    <div class="big-wrapper light">
        <img src="/assets/shape.png" alt="" class="shape" />

        <header>
            <div class="container">
              <div class="logo">
                <img src="/assets/logo.png" alt="Logo" />
                <h3>IA - Advanced Detection App</h3>
              </div>
  
              <div class="links">
                <ul>
                  <li><a href="https://github.com/omatheusribeiro">GitHub</a></li>
                  <li><a href="https://www.linkedin.com/in/omatheusribeiro/">Linkedin</a></li>
                </ul>
              </div>
  
              <div class="overlay"></div>
  
              <div class="hamburger-menu">
                <div class="bar"></div>
              </div>
            </div>
          </header>
    </div>
</main>


<!-- <app-face-detection></app-face-detection> -->
<!-- <app-object-detection></app-object-detection> -->
<!-- <app-hand-detection></app-hand-detection> -->
<!-- <app-pose-detection></app-pose-detection> -->