<main>
    <div class="big-wrapper light">
        <img src="/assets/shape.png" alt="" class="shape" />

        <header>
            <div class="container">
                <div class="logo">
                    <img src="/assets/logo.png" alt="Logo" />
                    <h3>IA - Advanced Detection App</h3>
                </div>

                <div class="links">
                    <ul>
                        <li><a href="https://github.com/omatheusribeiro" target="_blank">GitHub</a></li>
                        <li><a href="https://www.linkedin.com/in/omatheusribeiro/" target="_blank">Linkedin</a></li>
                    </ul>
                </div>

                <div class="overlay"></div>

                <div class="hamburger-menu">
                    <div class="bar"></div>
                </div>
            </div>
        </header>

        <div class="showcase-area">
            <div class="container">
                <div class="left">
                    <div class="big-title">
                        <h1>Turn the complex into simple:</h1>
                        <h1>have the experience of using an AI with different functionalities.</h1>
                    </div>
                    <p class="text">
                        In this project you will be able to use artificial intelligence capable of identifying the
                        user's hands, objects, body movement and finally, facial detection.
                    </p>
                    <div class="cta">
                        <a href="https://github.com/omatheusribeiro/advanced-detection-app" target="_blank"
                            class="btn">Repository</a>
                    </div>
                </div>

                <div class="div-video" id="div-video">
                    <app-face-detection classVideo="video"></app-face-detection>
                    <div class="form-check form-switch d-flex flex-column gap-2 mt-3">
                        <div *ngFor="let switchItem of switches; let i = index">
                            <input class="form-check-input" type="checkbox" role="switch" [id]="switchItem.id"
                                [checked]="switchItem.checked" (change)="toggleSwitch(i)">
                            <label class="form-check-label" [for]="switchItem.id">
                                {{ switchItem.label }}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="bottom-area">
            <div class="container">
            </div>
        </div>
    </div>
</main>


<!-- <app-face-detection></app-face-detection> -->
<!-- <app-object-detection></app-object-detection> -->
<!-- <app-hand-detection></app-hand-detection> -->
<!-- <app-pose-detection></app-pose-detection> -->